@model WebStore.Models.ProductViewModel.ProductCharacteristicViewModel

@{
    ViewData["Title"] = "Таблица товаров";
}

<h1>Index</h1>

<div class="container">
    <a asp-controller="Admin" asp-action="Create" class="btn btn-outline-primary">Создать продукт</a>
    <table class="table table-hover mt-5">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Products.Single().Title)</th>
                <th>@Html.DisplayNameFor(model => model.Products.Single().Description)</th>
                <th>@Html.DisplayNameFor(model => model.Products.Single().Discount)</th>
                <th>@Html.DisplayNameFor(model => model.Products.Single().Price)</th>
                <th>@Html.DisplayNameFor(model => model.Products.Single().Characteristic)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>@Html.DisplayFor(model => item.Title)</td>
                    <td>@Html.DisplayFor(model => item.Description)</td>
                    <td>@Html.DisplayFor(model => item.Discount)</td>
                    <td>@Html.DisplayFor(model => item.Price)</td>
                    @if (item.Characteristic.Any())
                    {
                        <td>
                            <a asp-controller="Admin" asp-action="Characteristics" asp-route-id="@item.ID"
                               class="btn btn-outline-info" id="btnCharacteristic">Просмотреть характеристики @item.Characteristic.Count() шт.</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a asp-controller="Admin" asp-action="Characteristics" asp-route-id="@item.ID"
                               class="btn btn-outline-info disabled" aria-disabled="true">Характеристика отсутствует</a>
                        </td>
                    }
                    <td>
                        <a asp-controller="Admin" asp-action="CreateCharacteristic" asp-route-id="@item.ID"
                           class="btn btn-outline-secondary">Добавить характеристику</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>